#register, #login {
    width: max-content;
    display: flex;
    flex-direction: column;
}

#register input, #login input {
    margin: 3px;
} 

#errors {
    display: none;
    background: indianred;
    border: solid 2px red;
    width: 318px;
    margin-bottom: 3px;
    padding: 3px;
    color: darkred;
}

#success {
    display: none;
    background: lightgreen;
    border: solid 2px green;
    width: 318px;
    color: darkgreen;
}

/*Mettre les formulaires au centre de l'écran*/
#formContainer {
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headIndex {
    text-align: center;
    font-family: "Britannic Bold", Times, "Times New Roman";
    border: 2px solid black;
    margin: 7px 7px 20px 7px;
}

#section1Index {
    border: 2px solid black;
    width: 70%;

}

main {
    padding: 15px;
	margin: auto;
	width: max-content;
}

th, td {
    text-transform: capitalize;
    border: 1px solid black;
    padding: 3px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

section {
    padding: 10px;
}

/*NAVBAR*/
body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:first-child {
    float: left;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: dimgray;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown_content {
    display: block;
}

label {
    display: inline-block;
    padding: 3px;
}

/*INDEX*/

#section1Index {
    box-sizing: border-box;
    border: 2px solid black;
    width: calc(75% - 14px);
    padding: 10px;
    margin: 7px;
    float: left;
}

#buttonIndex {
    border: 2px solid black;
    padding: 10px;
    margin: 7px;
    box-sizing: border-box;
    width: calc(25% - 14px);
    float: left;
}

#footIndex {
    clear: both;
    margin: 0;
    padding: 0 7px;
    background: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

hr {
    margin-top: 0;
}

.profile {
	box-shadow: 0 0 3px black;
	margin-top: 20px
}
h1 {
	margin-top: 0;
}
button, input[type="submit"] {
	margin: 5px auto;
    display: block;
}
.profile img {
	display: block;
	margin: auto;
	border:black 2px solid;
	margin-bottom: 4px;
}
.profile .icon {
	height: 1rem;
	width: auto;
	display: inline;
	border: 0;
	margin: 0;
}

section#druide {
    text-align: center;
    clear: both;
    background-image: url("../IMG/fdEcran.jpg");
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    margin: 40%;
}

/*#barde {
    background-image: url("../IMG/bardeIndex.jpg");
    float: right;
}*/

h1#hIndex {
    text-align: center;
}

#listeTable {
    margin: 30px auto;
}
